.inputBar {
    width: 100% !important;
    height: 50px;
    border: 0px !important;
    border-bottom: 1px solid black !important;
    font-size: 32px;
}

.todoItem {
    font-size: 32px;
    font-weight: bold;
    color: black;
}

.todoItemChecked {
    text-decoration: line-through;
    color: grey;
    font-size: 32px;
    font-weight: bold;
}